<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings />
  <connectionStrings>
    <add name="conexion" connectionString="data source= 192.168.100.219 ; initial catalog= DatosClaro;  user id = bdclaro; password=sqldatos15*" />
    <add name="conexion1" connectionString="data source= 192.168.100.219 ; initial catalog= conexred;    user id = bdclaro; password=sqldatos15*" />
    <add name="conexion2" connectionString="data source= 192.168.100.219 ; initial catalog= admin_cham;  user id = admincham; password=sqladmin15*" />
    <add name="conexioncontroldatos" connectionString="data source= 192.168.100.219 ; initial catalog= admin_cham;  user id = ctrlgral; password=sqlgnral15*" />
    <add name="conexionvoz" connectionString="data source= 192.168.100.219 ; initial catalog= Clarovoz;    user id = clarovoz; password=sqlvoz15*" />
    <add name="conexioncontrol" connectionString="data source= 192.168.100.219 ; initial catalog= datosclaro;  user id = ctrlgral; password=sqlgnral15*" />
    <add name="Conexion_ERP" connectionString="data source= 192.168.100.219 ; initial catalog= Kamilion_ERP; user id = ctrlgral; password=sqlgnral15*" />
    <add name="Admin_chamConnectionString" connectionString="Data Source=192.168.100.144;Initial Catalog=Admin_cham;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="conexion" connectionString="data source= 192.168.100.144 ; initial catalog= DatosClaro; user id = sa; password= Developer*" />
    <add name="conexion1" connectionString="data source= 192.168.100.144 ; initial catalog= conexred; user id = sa; password= Developer*" />
    <add name="conexion2" connectionString="data source= 192.168.100.144 ; initial catalog= admin_cham; user id = sa; password= Developer*" />
    <add name="conexioncontroldatos" connectionString="data source= 192.168.100.144 ; initial catalog= admin_cham; user id = sa; password= Developer*" />
    <add name="conexionvoz" connectionString="data source= 192.168.100.144 ; initial catalog= Clarovoz; user id = sa; password= Developer*" />
    <add name="conexioncontrol" connectionString="data source= 192.168.100.144 ; initial catalog= DatosClaro; user id = sa; password= Developer*" />
    <add name="Conexion_ERP" connectionString="data source= 192.168.100.144 ; initial catalog= Kamilion_ERP; user id = ctrlgral; password= Developer*" />
    <add name="Admin_chamConnectionString" connectionString="Data Source=192.168.100.144;Initial Catalog=Admin_cham;Persist Security Info=True;User ID=sa;Password=Developer*"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <system.web>
    <sessionState timeout="55" />
    
    
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este proceso 
            afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.

            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los tipos de datos 
            donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" protection="All" timeout="60" loginUrl="entrada.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <globalization culture="" uiCulture="" />
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <system.webServer>
    <directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>